.statistics {
    margin: 10px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 300px;
    background-color: azure;
    border: 1px solid black;
    border-radius: 10px;
    overflow: hidden;
}

.title {
    padding: 10px 0;
    border-bottom: 1px solid black;
    width: 100%;
    text-align: center;
}

.statlist {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    height: 50px;
    width: 100%;
    align-items: center;
    justify-content: left;
}

.item {
    display: flex;
    flex-basis: 100%;
    height: 50px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #80f09a;
}

.item:not(:last-child) {
    border-right: 1px solid black;
}

.label {
    font-size: 12px;
    padding-bottom: 5px;
}

.percentage {
    font-size: 16px;
    font-weight: 500;
}

